[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
	co = checkou
[rerere]
  enabled = true
[user]
	name = gavidon
	email = georgeavidon@optonline.net
[push]
	default = matching
